In [51]:
import pandas as pd
import sqlalchemy

In [52]:
math_data = pd.read_csv("zadania_kangur.csv", sep=";")
math_data.head()

,Question,A,B,C,D,E,Answer,Level
0,Renata ma 20 kart z liczbą 22 na każdej z nich...,A) 120,B) 124,C) 128,D) 132,E) 144,B,1
1,"Ile punktów na okręgu o środku w punkcie (0,0)...",A) 5,B) 8,C) 12,D) 16,E) 20,C,2
2,Widownia boiska jest prostokątem utworzonym z ...,A) 500,B) 660,C) 690,D) 840,E) 994,B,3
3,Ile spośród liczb trzycyfrowych utworzonych je...,A) 3,B) 6,C) 9,D) 18,E) 27,C,1
4,"Na tablicy zapisano liczby 1, 2, 7, 9, 10, 15 ...",A) 7,B) 9,C) 10,D) 15,E) 19,B,2

In [53]:
math_data["Question"] = math_data["Question"]+' '+math_data["A"]+' '+math_data["B"]+' '+math_data["C"]+' '+math_data["D"]+' '+math_data["E"]
math_data = math_data.drop(columns=["A","B","C","D","E"])
math_data.rename(columns={"Question":"content", "Answer":"answer", "Level":"level"},inplace=True)
math_data.head()

                                             content answer  level
0  Renata ma 20 kart z liczbą 22 na każdej z nich...      B      1
1  Ile punktów na okręgu o środku w punkcie (0,0)...      C      2
2  Widownia boiska jest prostokątem utworzonym z ...      B      3
3  Ile spośród liczb trzycyfrowych utworzonych je...      C      1
4  Na tablicy zapisano liczby 1, 2, 7, 9, 10, 15 ...      B      2

In [59]:
from sqlalchemy import Column, Integer, String, Sequence, CheckConstraint
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.types import ARRAY

db_string = "postgresql://postgres:postgres@localhost:5432/Riddles"

engine = create_engine(db_string)

Base = declarative_base()

# class MathRiddles:
#     __tablename__ = 'math_riddles'
#     id = Column(Integer, Sequence("seq_math_riddles_id", start=0), primary_key=True, nullable=False)
#     content = Column(String, nullable=False)
#     answer = Column(String, nullable=False)
#     level = Column(Integer, nullable=False)
#     __table_args__ = (
#         CheckConstraint('LENGTH(content) > 0'),
#         CheckConstraint('LENGTH(answer) > 0'),
#         CheckConstraint('level >= 1 AND level <= 3'),
#     )

class WordRiddles:
    __tablename__ = 'word_riddles'
    id = Column(Integer, Sequence("seq_word_riddles_id", start=0), primary_key=True, nullable=False)
    content = Column(String, nullable=False)
    answer = Column(String, nullable=False)
    level = Column(Integer, nullable=False)
    __table_args__ = (
        CheckConstraint('LENGTH(content) > 0'),
        CheckConstraint('LENGTH(answer) > 0'),
        CheckConstraint('level >= 1 AND level <= 3'),
    )

class Users:
    __tablename__ = 'users'
    id = Column(Integer, Sequence("seq_users_id", start=0), primary_key=True)
    user_name = Column(String, unique=True, nullable=False)
    password = Column(String, nullable=False)
    math_riddles = Column(ARRAY(Integer), nullable=True, default=[])
    word_riddles = Column(ARRAY(Integer), nullable=True, default=[])
    __table_args__ = (
        CheckConstraint("LENGTH(user_name) > 0")
    )

Base.metadata.create_all(engine)

C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_5992\84605484.py:10: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [57]:
math_data.index += 1
math_data.head()

                                             content answer  level
1  Renata ma 20 kart z liczbą 22 na każdej z nich...      B      1
2  Ile punktów na okręgu o środku w punkcie (0,0)...      C      2
3  Widownia boiska jest prostokątem utworzonym z ...      B      3
4  Ile spośród liczb trzycyfrowych utworzonych je...      C      1
5  Na tablicy zapisano liczby 1, 2, 7, 9, 10, 15 ...      B      2

In [58]:
# math_data.to_sql("math_riddles",con=engine)

227

In [75]:
word_data = pd.read_csv("word_riddles.csv", sep=";")
word_data.rename(columns={"QUESTIONS":"content", "ANSWERS":"answer", "Difficulty":"level"},inplace=True)
word_data.index += 1
word_data.to_sql("word_riddles",con=engine)

377